.talent{
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;

    .list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 64px 33px 58px;
        border: 1px solid var(--color_ash);
        border-radius: 4px;

        .img-container{
            height: 80px;
            width: fit-content;
        }
    }
}

@media screen and (max-width: 600px){
    .talent{

grid-template-columns: 1fr;    }

}