@font-face {
  font-family: 'Pulp Display';
  src: url("../font/PulpDisplay-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color_primary: #3E0563;
  --color_black: #0C0114;
  --color_accent: #FA9706;
  --color_white: #ffffff;
  --color_ash: #EEE8F2;
  --container_lg: 89%;
  --container_md: 90%;
  --container_sm: 92%;
  --transition: 400ms;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "pulp Display";
  background: var(--color_white);
  color: var(--color_black);
  line-height: 28.15px;
}

body .container {
  width: var(--container_lg);
  margin: 0 auto;
  text-align: center;
}

body section {
  margin-top: 150px;
}

body h1 {
  font-size: 96px;
  line-height: 115.2px;
  font-weight: 400;
  color: var(--color_black);
}

body h3 {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 400;
  color: var(--color_white);
}

body h4 {
  font-size: 36px;
  font-weight: 600;
  color: var(--color_black);
  line-height: 43.2px;
}

body h5 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color_white);
  line-height: 28.8px;
}

body p {
  font-size: 16px;
  font-weight: 400;
  color: var(--color_black);
  line-height: 24px;
}

body img {
  width: 100%;
}

body .btn-primary {
  color: var(--color_white);
  background-color: var(--color_primary);
  padding: 16px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

body .btn-primary:hover {
  opacity: 0.95;
}

body .btn-secondary {
  color: var(--color_primary);
  background-color: var(--color_ash);
  padding: 16px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

body .btn-secondary:hover {
  opacity: 0.95;
}

body a {
  font-size: 18px;
  font-weight: 300;
  line-height: 21.6px;
  color: var(--color_black);
}

body input {
  color: var(--color_black);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  background-color: transparent;
}

body input::-webkit-input-placeholder {
  color: var(--color_ash);
}

body input:-ms-input-placeholder {
  color: var(--color_ash);
}

body input::-ms-input-placeholder {
  color: var(--color_ash);
}

body input::placeholder {
  color: var(--color_ash);
}

/*================= TABLET MEDIA QUERIES================*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container_md);
    margin: 0 auto;
  }
  section {
    margin-top: 70px;
  }
}

/*================= MOBILE MEDIA QUERIES================*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--container_sm);
    margin: 0 auto;
  }
  h1 {
    font-size: 64px;
    line-height: 76.8px;
  }
  h4 {
    font-size: 32px;
    line-height: 38.4px;
  }
  section {
    margin-top: 50px;
  }
}
/*# sourceMappingURL=index.css.map */