.connected-award{
    padding-top: 80px;
    padding-bottom: 80px;
    
    position: relative;

    .container{
        display: flex;
        gap: 107px;

        img{
            width: 40%;
        }

    }

    .arc{
        position: absolute;
        transform: rotate(270deg);
        width: 10%;
        right: 0;
        bottom: 0;
    }
}